<div class="min-w-full my-8">

  <div class="table-header table font-bold min-w-full">
    <div>Order Number</div>
    <div>Datetime</div>
    <div>Client name</div>
    <div>Phone</div>
    <div>Worker</div>
    <div>Jobs</div>
    <div>Category</div>
    <div></div>
  </div>
  <div id="orders" data-controller="orders" data-action="">
    <%= render @orders %>
  </div>

</div>
