<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Orders</h1>
  </div>
  <div class="min-w-full my-8">
    <%= turbo_frame_tag "new-order-form", src: new_order_path %>
    <div class="table-header table font-bold min-w-full">
      <div>#</div>
      <div>Name</div>
      <div>Phone</div>
      <div>Worker</div>
      <div>Jobs</div>
      <div></div>
    </div>
    <div id="orders">
      <%= render @orders %>
    </div>
  </div>
</div>
