<div class="w-full">
  <div class="flex justify-between items-center">
    <h2 class="font-bold text-4xl mb-6">Workers</h2>
    <%= link_to 'New job', new_worker_path, data: {turbo_frame: dom_id(Worker.new) },
                class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>
  <div id="jobs" class="min-w-full my-3 bg-gray-50 p-4">
    <%= turbo_frame_tag Worker.new %>
    <%= render @workers %>
  </div>
</div>
