@tailwind base;
@tailwind components;
@tailwind utilities;

.table {
  display: grid;
  grid-template-columns: repeat(7, 2fr) 1fr;
  column-gap: 2rem;
  align-items: center;
  padding: 1rem;
  border: 1px solid #ccc;
  border-bottom: none;
  border-collapse: collapse;
}

turbo-frame:last-child .table {
  border-bottom: 1px solid #ccc;
}

turbo-frame:nth-child(even) .table {
  background: #fafafa;
}

.datefield {
  line-height: 1.12;
}
.table-header.table {
  margin-top: 30px;
}
.container {
  background-color: #f4f4f4;
}

.input-search {
  margin-right: -4px;
}
